# -----------------------------
# Python
# -----------------------------
*__pycache__

# Virtual environments
*venv/
*.venv/

# macOS
*.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# PyInstaller
build/
dist/
*.spec

# Python packaging
*.egg-info/
.eggs/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# -----------------------------
# Version 1
# -----------------------------
v1/build/
v1/dist/

# -----------------------------
# Version 2
# -----------------------------
v2/build/
v2/dist/


# -----------------------------
# Releases
# -----------------------------
releases